extends layout

block content  
  div(class='wrapper')
    div(class='container')      
      div(class='page_title' id="playlist_name") #{name} 
      div(class='entry_container_wrapper')
        div(class='entry_container')
          each track in tracks
            div(class='entry_wrapper entry_wrapper_nonselectable')
              div(class='entry' data-id=track.id)
                span #{track.name} - 
                  each artist, index in track.artists
                    span(data-artist-id=artist.id) #{artist.name}
                    if index != track.artists.length-1
                      span ,&nbsp;
              br
          br
      button(class="button_default button_default_normal" onclick="window.location.href='/menu'") Done